<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-primary " >
    <div class="container" style="margin-left:2%">
    
        <a class="navbar-brand" style="color: white;">Book Donation Management App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
            <ul class="nav nav-pills flex-grow-1">
                <li class="nav-item"><a class="nav-link" [routerLink]="['/home']" style="color: white;">Home</a></li>
                <li class="nav-item"><a class="nav-link " [routerLink]="['/books']" style="color: white;">Books</a></li>
                <li class="nav-item"><a class="nav-link " [routerLink]="['/purchaseorders']" style="color: white;">Purchase Orders</a></li>            
                <li class="nav-item"><a class="nav-link active" [routerLink]="['/receiveorders']" style="color: white;background-color: rgb(156, 4, 80);">Receive Orders</a></li> 
            </ul>
        </div>
        
        
    </div>
    
</nav>

<p>receiveorders works!</p>
