<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-primary " >
    <div class="container" style="margin-left:2%">
    
        <a class="navbar-brand" style="color: white;">Book Donation Management App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
            <ul class="nav nav-pills flex-grow-1">
                <li class="nav-item"><a class="nav-link" [routerLink]="['/home']" style="color: white;">Home</a></li>
                <li class="nav-item"><a class="nav-link " [routerLink]="['/books']" style="color: white;">Books</a></li>
                <li class="nav-item"><a class="nav-link " [routerLink]="['/purchaseorders']" style="color: white;">Purchase Orders</a></li>            
                <li class="nav-item"><a class="nav-link active" [routerLink]="['/receiveorders']" style="color: white;background-color: rgb(156, 4, 80);">Sales Orders</a></li> 
            </ul>
        </div>
        
        
    </div>
    
</nav>

<div class="card" style="margin-right: 10%;margin-left: 5%;padding-top: 1%;padding-left: 3%;padding-bottom: 2%;margin-top: 3%;padding-right: 3%;">
    <h3>Sales Books Details</h3>
    <div class="card" style="width: auto;margin-top: 2%;" *ngFor="let item of salesBooks" >
        <div class="card-header">
            <h5>TransactionId :TR-{{item.id}}</h5>
        </div>
        <div class="card-body" >
        
            <h6 style="float: left;margin-right: 2%;font-weight: 600;">Date :</h6> <h6>{{item.sDate}}</h6>
            <h6 style="float: left;margin-right: 2%;font-weight: 600;">Book Id :</h6> <h6>{{item.transactionId}}</h6>
            <h6 style="float: left;margin-right: 2%;font-weight: 600;">Book Name :</h6> <h6>{{item.bookName}}</h6>
            <h6 style="float: left;margin-right: 2%;font-weight: 600;">Book Category :</h6> <h6>{{item.bookCategory}}</h6>
            <h6 style="float: left;margin-right: 2%;font-weight: 600;">Book Author Name :</h6> <h6>{{item.authorName}}</h6>
            <h6 style="float: left;margin-right: 2%;font-weight: 600;">Seller OR Donor Name :</h6> <h6>{{item.sellerOrDonorName}}</h6>
            <h6 style="float: left;margin-right: 2%;font-weight: 600;">Book Price :</h6> <h6>{{item.price}}</h6>
        </div>
        
    </div>
    
    <div class="card" style="width: auto;margin-top:2%" *ngIf="noItems">
    
        <div class="card-body">
        
            No Items
        </div>
    </div>
    
</div>

